.idea/

project1_state_estimation/outputs/
project1_state_estimation_example/outputs/

project2_RL_train_swing_pendulum/outputs/
project2_RL_train_swing_pendulum/outputs_v*/
project2_RL_train_swing_d_p_catch/outputs/
project2_RL_train_swing_d_p_throw/outputs/

media/

*/MUJOCO_LOG.TXT

*.pdf
*.pth
!lifer_official_model?.pth